<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="/stylesheet/style.css">
   <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-800 text-white p-4">
      <p class="text-center mt-10">You can Edit the post </p>

      <div class=" w-full flex flex-col items-center justify-satrt h-fit p-2">
         <form action="/update/<%=post._id%>" method="post" class="bg-gray-900 p-4 rounded-md flex flex-col gap-4 mt-10 w-1/3">
            <textarea class="bg-gray-700 w-full outline-none resize-none text-white px-4 py-2 rounded-md" name="content" placeholder="Edit your post"><%=post.content%></textarea>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md" type="submit">Submit</button>
         </form>
      </div>

      
    
    

   <script src="/javascripts/script.js"></script>
</body>
</html>